.button {
    -fx-background-color : #ba0303;
    -fx-text-fill        : #E1F5FE;
    -fx-border-style	 : solid;
    -fx-border-width: 2px;
    -fx-border-color: #848484;
    }

.button:hover {
    -fx-background-color : #910000;
    }

.inputSection {
    -fx-background-color : #f9f7f7;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 5px;


    }


.background {
	-fx-background-color : #efede6;
}

.textLogo {
	-fx-text-decoration: underline;
}