.button {
    -fx-background-color : #ffffff;
    -fx-text-fill        : #d11d1d;
    -fx-border-style	 : solid;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    }

.button:hover {
    -fx-background-color : #b3b3b3;
    }

.inputSection {
    -fx-background-color : #f9f7f7;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-border-radius: 4px;


    }

.toggle {
	-fx-background-color : #ffffff;
    -fx-text-fill        : #d11d1d;
    -fx-border-style	 : solid;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}


.background {
	-fx-background-color : #cccccc;
}

.textLogo {
	-fx-text-fill : #d11d1d;